# Exploring eBay Car Sales Data

## Introduction

In this project, we will clean the data to analyse used car listings. The data sampled from eBay Germany contains 50,000 data points. The original dataset can be found [here](https://www.kaggle.com/orgesleka/used-cars-database/data).

The data dictionary is as follows:

- **dateCrawled:** The date when the ad was first crawled
- **name:** Name of the car
- **seller:** Whether the seller is private or a dealer
- **offerType:** The type of listing
- **price:** The price advertised price of the car
- **abtest:** Whether the listing is included in an A/B test
- **vehicleType:** The type of vehicle
- **yearOfRegistration:** The year in which the car was first registered
- **gearbox:** The transmission type
- **powerPS:** The power of the car in PS
- **model:** The car model name
- **kilometer:** How many km's the car has driven
- **monthOfRegistration:** The month in which the car was first registered
- **fuelType:** What type of fuel the car uses
- **brand:** The brand of the car
- **notRepairedDamage:** If the car has a damage which is not yet repaired
- **dateCreated:** The date on which the eBay listing was created
- **nrOfPictures:** The number of pictures in the ad
- **postalCode:** The postcode for the location of the vehicle
- **lastSeenOnline:** When the crawler last saw the ad online

## Data Load

For this project, we import the pandas and NumPy libraries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv("autos.csv",encoding = 'Latin-1')

### Column Name Standardisation

We begin by printing an array of the existing column names.

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

We then copy this array and will make the following changes to the column names:

- yearOfRegistration will become registration_year
- monthOfRegistration will become registration_month
- notRepairedDamage will become unrepaired_damage
- dateCreated will become ad_created
- dateCrawled will become date_crawled

We will also convert all remaining column names to lower case.

In [4]:
'''
Renaming columns
'''

autos.rename(columns={"yearOfRegistration": "registration_year"}, inplace = True)
autos.rename(columns={"monthOfRegistration": "registration_month"}, inplace = True)
autos.rename(columns={"notRepairedDamage": "unrepaired_damage"}, inplace = True)
autos.rename(columns={"dateCreated": "ad_created"}, inplace = True)
autos.rename(columns={"dateCrawled": "date_crawled"}, inplace = True)
autos.rename(columns={"lastSeen": "last_seen"}, inplace = True)

'''
Converting all column headers to lower case
'''
autos.columns = map(str.lower,autos.columns)

autos.columns # Check that this has been completed correctly

Index(['date_crawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'odometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'last_seen'],
      dtype='object')

The column headers needed to be changed for a number of reasons:

- **Simplicity:** Short column names improve readability and make it easier to perform operations in panda. 

- **Standardisation:** By converting all column names to lowercase, we don't have to remember where the capital letters are located in the string when working with Pandas

## Data Exploration & Observations

As this was successfully loaded and the columns standardised, we will now explore the data.

In [5]:
print(autos.info()) #This will provide information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offertype             50000 non-null object
price                 50000 non-null object
abtest                50000 non-null object
vehicletype           44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
powerps               50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fueltype              45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nrofpictures          50000 non-null int64
postalcode            50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None

In [6]:
autos.head() #This will provide a sample of the first few rows

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos.describe(include="all") # Obtain description statistics

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 17:37:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

### Observations

Based on the descriptive statistics above, I've made some obserations:


**Columns to change the data type**

- **price**: This needs to be converted into either an integer or a float.

- **odomoter**: This column contains values stored as text, we will need to remove the 'km' after the figure. 

**Columns with 'dirty' data**

- **powerps**: The minimum value is 0 and the maximum is 17,700. This seems like an odd range.

- **registration_year**: This has a max of 9999 and a min of 1000 which is far outside a possible range.

- **registration_month**: The minimum value is 0. Does this mean that the car is unregistered?

**Columns to drop**

- **seller**: This column contains 2 values of which 1 is not 'privat'. This column can be dropped.

- **offer_type**: This column contains 2 values of which 1 is not 'Angebot'. This column can be dropped. 

- **nrofpictures**: This column is completely empty. This column can be dropped.

- **date_crawled, last_seen, ad_created**: The data in these columns for this project are not required as they don't offer any useful datetime info. We will remove these columns

Let's look at some of these columns in greater detail.

In [8]:
'''
Registration years
'''

print(autos["registration_year"].value_counts().sort_index(ascending=False).head(10))
print("\n")
print(autos["registration_year"].value_counts().sort_index(ascending=True).head(10))

9999    4
9996    1
9000    2
8888    1
6200    1
5911    1
5000    4
4800    1
4500    1
4100    1
Name: registration_year, dtype: int64


1000    1
1001    1
1111    1
1500    1
1800    2
1910    9
1927    1
1929    1
1931    1
1934    2
Name: registration_year, dtype: int64

From the above output, we see that a number of registration years are incorrect.  We will need to identify these cars later on.

In [9]:
'''
Registration month
'''
autos["registration_month"].value_counts().sort_index()

0     5075
1     3282
2     3008
3     5071
4     4102
5     4107
6     4368
7     3949
8     3191
9     3389
10    3651
11    3360
12    3447
Name: registration_month, dtype: int64

From the registration month data, we can see that a number of cars are registered in month 0 which is incorrect. There is a line-ball decision to make, while the month is incorrect, what month the vehicle is registered isn't very important to our analysis. Cars registered in month 0 make up approximately 10% of all listings and the largest group of car registrations. In this instance, we will leave these listings as is.

In [10]:
'''
Number of pictures
'''

autos["nrofpictures"].value_counts()

0    50000
Name: nrofpictures, dtype: int64

This column will need to be discarded as it won't provide any analytical information.

In [11]:
'''
Power Values
'''
print(autos["powerps"].value_counts().sort_index(ascending=False).head(10))
print("\n")
print(autos["powerps"].value_counts().sort_index(ascending=True).head(10))

17700    1
16312    1
16011    1
15016    1
15001    1
14009    1
9011     1
8404     1
7511     1
6512     1
Name: powerps, dtype: int64


0     5500
1        5
2        2
3        3
4        4
5       13
6        3
8        2
9        1
10       3
Name: powerps, dtype: int64

In laymans terms PS is the equivalent of Horsepower. There is quite a large range of power outputs. However we should be concerned with the outliers such as cars with a powerps value of 0 and perhaps those with power outputs greater than say 1100 ps.

## Cleaning the Data

#### Converting Numeric Values Stored as Text

We need to convert the values in the price and odometer columns into numeric values. To do so we will:

- Remove any non-numeric characters
- Convert the whole column to a numeric dtype
- Rename the column so we know what the unit of measurement is

In [12]:
'''
Converting the price column to numeric value
'''

autos["price"] = autos["price"].str.replace('$','').str.replace(",","")
# remove the $ and , values from each figure

autos["price"] = autos["price"].astype(int)
# convert the whole column to an integer

'''
Converting the odometer column to a numeric value
'''

autos["odometer"] = autos["odometer"].str.replace('kms','').str.replace('km','').str.replace(',','')
# remove either 'kms', 'km' or any comma

autos["odometer"] = autos["odometer"].astype(int)
# convert the whole column to an interger

autos.rename(columns={"odometer": "odometer_km"}, inplace = True)
# rename the odometer column to unclude the UoM.

autos.dtypes
# check that the price and odometer columns now contain integers

date_crawled          object
name                  object
seller                object
offertype             object
price                  int64
abtest                object
vehicletype           object
registration_year      int64
gearbox               object
powerps                int64
model                 object
odometer_km            int64
registration_month     int64
fueltype              object
brand                 object
unrepaired_damage     object
ad_created            object
nrofpictures           int64
postalcode             int64
last_seen             object
dtype: object

We can see from the above that the odometer and price columns now contain numeric values.

### Identifying and Eliminating Outliers

As we have converted the odometer and price columns to be integers, we can identify the outliers. We will also identify outliers in the registration column.

In [13]:
'''
Identify unique values
'''

print(autos["odometer_km"].unique().shape)
print(autos["price"].unique().shape)
print(autos["registration_year"].unique().shape)
print(autos["powerps"].unique().shape)

(13,)
(2357,)
(97,)
(448,)

We can see that the odometer column contains 13 unique values which suggests that this comes from a pre-defined range. 

Price on the other hand has 2,357 unique values so the range of prices is quite wide.

Registration year contains 97 unique values which seem ok on the surface but as we know, there are definitely some questionable items there. 

The powerps column contains 436 unique values however as above, there are definitely some questionable items there.

In [14]:
'''
Series descriptions
'''

print(autos["odometer_km"].describe())
print("\n")
print(autos["price"].describe())
print("\n")
print(autos["registration_year"].describe())
print("\n")
print(autos["powerps"].describe())

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64


count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64


count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64


count    50000.000000
mean       116.355920
std        209.216627
min          0.000000
25%         70.000000
50%        105.000000
75%        150.000000
max      17700.000000
Name: powerps, dtype: float64

The data descriptions show that the odometer values appear to be quite clean while the price, registration year and powerps values are quite extreme. We will now identify the outliers.

#### Odometer Outliers

In [15]:
#Value counts for odometer

autos["odometer_km"].value_counts().sort_index(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

The odometer values appear fine so we will not be cleaning them. Let's take a look at the price values.

#### Price Outliers

In [16]:
#Value counts for price

print(autos["price"].value_counts().sort_index(ascending=False).head(5))
print("\n")
print(autos["price"].value_counts().sort_index(ascending=True).head(5))

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
Name: price, dtype: int64


0    1421
1     156
2       3
3       1
5       2
Name: price, dtype: int64

From the above, cars with a price of under 100 and cars with a price tag of more than 200,000 are worth exploring further. Lets take a look.

In [17]:
autos.loc[autos["price"] < 100] # Cars with a price less than $100

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,90,control,kombi,1996,manuell,116,NaN,150000,4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0,control,NaN,2005,NaN,0,NaN,150000,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
30,2016-03-14 11:47:31,Peugeot_206_Unfallfahrzeug,privat,Angebot,80,test,kleinwagen,2002,manuell,60,2_reihe,150000,6,benzin,peugeot,ja,2016-03-14 00:00:00,0,57076,2016-03-14 11:47:31
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
64,2016-04-05 07:36:19,Autotransport__Abschlepp_Schlepper,privat,Angebot,40,test,NaN,2011,NaN,0,5er,150000,5,NaN,bmw,NaN,2016-04-05 00:00:00,0,40591,2016-04-07 12:16:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0,control,NaN,1990,manuell,0,NaN,5000,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0,control,coupe,1999,manuell,99,primera,150000,3,benzin,nissan,ja,2016-03-09 00:00:00,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0,control,NaN,2000,NaN,0,5er,150000,0,NaN,bmw,NaN,2016-03-29 00:00:00,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,60000,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34
118,2016-03-12 05:03:00,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,privat,Angebot,0,control,bus,2001,manuell,204,sharan,150000,7,benzin,volkswagen,ja,2016-03-12 00:00:00,0,15370,2016-03-12 21:44:23
146,2016-03-22 23:59:28,Ford_Fiesta_rot,privat,Angebot,0,test,kleinwagen,1996,manuell,75,fiesta,20000,8,benzin,ford,NaN,2016-03-22 00:00:00,0,63069,2016-04-01 20:16:38
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,privat,Angebot,0,control,NaN,2011,NaN,0,transporter,5000,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,64739,2016-04-06 19:45:08
180,2016-03-19 10:50:25,Zu_verkaufen,privat,Angebot,0,test,NaN,2016,manuell,98,3_reihe,150000,12,benzin,mazda,ja,2016-03-19 00:00:00,0,30966,2016-03-24 03:17:21
226,2016-03-25 23:52:12,Porsche_911_S_Targa__67er_SWB,privat,Angebot,0,control,cabrio,1967,manuell,160,911,5000,12,benzin,porsche,nein,2016-03-25 00:00:00,0,44575,2016-04-05 14:46:39
234,2016-03-05 16:56:22,Fiat_Punto_Sport,privat,Angebot,0,control,NaN,2016,NaN,0,punto,150000,0,NaN,fiat,NaN,2016-03-05 00:00:00,0,44789,2016-03-17 22:47:09
245,2016-03-30 12:45:44,Renault_Twingo,privat,Angebot,50,control,kleinwagen,1997,manuell,60,twingo,30000,5,benzin,renault,NaN,2016-03-30 00:00:00,0,31249,2016-04-07 03:16:36
248,2016-03-08 22:57:53,VW_Passat_zu_verkaufen,privat,Angebot,0,test,kombi,1998,manuell,0,passat,150000,10,benzin,volkswagen,ja,2016-03-08 00:00:00,0,34369,2016-03-29 16:16:18
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,privat,Angebot,0,control,NaN,2000,NaN,0,NaN,5000,6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,0,89269,2016-04-06 07:16:22
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,privat,Angebot,0,control,NaN,1990,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,0,13589,2016-04-05 18:44:43
323,2016-03-15 16:54:59,W220_Unfallfahrzeug,privat,Angebot,0,control,limousine,2001,automatik,224,s_klasse,150000,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,45475,2016-04-06 12:44:20
327,2016-04-03 13:49:21,BMW_Cabrio_318i_/_BMW_318_tds_Touring,privat,Angebot,0,control,NaN,2016,manuell,90,3er,150000,2,diesel,bmw,NaN,2016-04-03 00:00:00,0,39112,2016-04-05 12:46:23
344,2016-03-22 11:25:18,Verkaufe_hier_mein_mein_schoener_honda_crx_in_...,privat,Angebot,1,test,NaN,2000,manuell,125,andere,5000,0,NaN,honda,NaN,2016-03-22 00:00:00,0,65391,2016-04-06 18:15:57
347,2016-04-02 11:48:02,Volvo_TP21__Sugga,privat,Angebot,0,test,suv,1956,NaN,0,andere,100000,0,NaN,volvo,NaN,2016-04-02 00:00:00,0,34414,2016-04-04 09:15:24
366,2016-03-21 20:36:25,Ford_Escort_Express_75__LKW_Zulussung___Diesel...,privat,Angebot,0,control,NaN,2000,NaN,0,andere,90000,0,diesel,ford,NaN,2016-03-21 00:00:00,0,3130,2016-03-28 19:16:45
389,2016-03-08 11:38:52,Vw_polo_classic,privat,Angebot,0,control,limousine,1999,manuell,75,NaN,150000,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,14476,2016-03-14 09:16:30
418,2016-03-29 14:43:24,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,privat,Angebot,0,test,bus,2003,manuell,80,andere,5000,5,diesel,fiat,nein,2016-03-29 00:00:00,0,35315,2016-04-05 23:47:14
427,2016-03-12 11:44:47,TOP_ZUSTAND_GrunePlakette_Euro4!!!,privat,Angebot,0,test,bus,2005,manuell,101,vivaro,80000,8,diesel,opel,nein,2016-03-12 00:00:00,0,93173,2016-03-12 11:44:47
430,2016-03-18 23:52:40,Winterraeder_FORD,privat,Angebot,0,test,NaN,2007,NaN,0,focus,5000,0,NaN,ford,NaN,2016-03-18 00:00:00,0,40549,2016-03-19 06:47:06
449,2016-04-03 20:59:59,Tausche_gegen_ein_smart.,privat,Angebot,0,test,limousine,2001,manuell,120,golf,150000,8,benzin,volkswagen,nein,2016-04-03 00:00:00,0,60439,2016-04-04 10:31:06
487,2016-03-14 21:41:36,MAG_MICH_KEINER_HABEN_Opel_Omega_B_Caravan_2.0...,privat,Angebot,0,test,kombi,1998,manuell,136,omega,150000,8,benzin,opel,ja,2016-03-14 00:00:00,0,59320,2016-03-17 11:48:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49082,2016-03-13 17:06:58,Passat_35i_b4_in_candy_weiss_original_lack,privat,Angebot,0,test,limousine,1996,manuell,90,NaN,150000,6,NaN,volkswagen,nein,2016-03-13 00:00:00,0,35799,2016-04-04 06:45:30
49240,2016-03-10 09:54:48,Suche_7_Sitzer_Espace_oder?_Biete_s.Beschreibung,privat,Angebot,1,test,kombi,1999,manuell,0,NaN,150000,4,benzin,bmw,NaN,2016-03-10 00:00:00,0,41199,2016-03-28 10:15:50
49254,2016-03-21 10:49:57,Corrado_G60_mit_2e_Motor,privat,Angebot,0,test,NaN,1995,manuell,0,NaN,150000,0,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,53639,2016-03-22 15:18:35
49301,2016-03-20 20:52:40,Golf_3_Variant_Kombi_1.8,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-20 00:00:00,0,4924,2016-03-30 15:17:15
49342,2016-03-09 20:47:01,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,privat,Angebot,0,test,NaN,2017,manuell,90,80,150000,10,benzin,audi,ja,2016-03-09 00:00:00,0,25853,2016-03-11 17:45:36
49350,2016-03-19 23:57:15,Golf_II_Diesel,privat,Angebot,0,control,kleinwagen,1991,manuell,54,golf,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,29664,2016-04-06 03:15:23
49377,2016-03-20 00:58:36,Tausche_BMW_318i_Facelift_Model_143_ps,privat,Angebot,1,control,limousine,2002,manuell,143,3er,150000,8,benzin,bmw,NaN,2016-03-19 00:00:00,0,86356,2016-03-20 04:56:34
49404,2016-04-04 03:03:16,Golf_2_BBS_LEDER_KW,privat,Angebot,0,control,limousine,1989,manuell,90,NaN,150000,3,NaN,volkswagen,nein,2016-04-04 00:00:00,0,52062,2016-04-06 08:45:25
49408,2016-03-30 20:57:06,OPEL_ASTRA,privat,Angebot,0,control,NaN,1995,manuell,60,astra,150000,0,benzin,opel,ja,2016-03-30 00:00:00,0,27711,2016-04-05 11:46:06
49479,2016-04-01 23:55:01,Tausch_mit_frischen_TÜV,privat,Angebot,0,control,limousine,1995,manuell,101,a4,150000,5,benzin,audi,nein,2016-04-01 00:00:00,0,27753,2016-04-06 05:16:07
49496,2016-03-26 13:55:28,Bmw_e39_520,privat,Angebot,0,control,limousine,1998,manuell,0,NaN,5000,0,NaN,bmw,NaN,2016-03-26 00:00:00,0,26188,2016-03-26 13:55:28
49504,2016-03-13 19:42:57,Meriva_Lpg_1_6_16v,privat,Angebot,0,control,bus,2004,manuell,101,meriva,150000,10,lpg,opel,ja,2016-03-13 00:00:00,0,27432,2016-03-19 13:16:57
49507,2016-03-16 17:38:32,BMW_528i_E39_Schaltgetriebe_Unfall,privat,Angebot,0,control,limousine,1998,manuell,193,5er,150000,0,NaN,bmw,ja,2016-03-16 00:00:00,0,25541,2016-03-30 08:47:38
49525,2016-03-09 17:59:02,Bmw_e36_318_i_Limo_Ringtool_PS_Tuning,privat,Angebot,0,test,NaN,2000,NaN,160,3er,150000,0,NaN,bmw,NaN,2016-03-09 00:00:00,0,66822,2016-03-15 04:45:26
49528,2016-03-28 19:57:41,"BMW_E36__316i_Compact_M_Paket_""Schlachtfest""",privat,Angebot,1,control,NaN,2016,manuell,102,3er,150000,12,benzin,bmw,NaN,2016-03-28 00:00:00,0,49696,2016-04-07 02:47:04
49538,2016-03-14 10:55:27,Golf_3_mit_Tuev_.....PREISWERT!!!!,privat,Angebot,0,control,limousine,1998,manuell,60,golf,150000,0,benzin,volkswagen,nein,2016-03-14 00:00:00,0,15345,2016-03-14 10:55:27
49551,2016-03-16 23:40:18,Golf_IV_an_Bastler_zuverkaufen__reserviert_,privat,Angebot,0,test,NaN,2016,manuell,0,NaN,150000,6,diesel,volkswagen,nein,2016-03-16 00:00:00,0,4275,2016-03-16 23:40:18
49614,2016-03-09 17:49:39,Verkauf_meine__Audi__A3_.Gegen_tauschen_mit_Di...,privat,Angebot,0,test,NaN,2016,manuell,101,a3,150000,0,benzin,audi,nein,2016-03-09 00:00:00,0,47051,2016-03-10 14:15:53
49728,2016-03-25 16:00:11,Ford_Focus_1.4_16V_Bastlerauto,privat,Angebot,1,test,NaN,2016,manuell,0,focus,150000,0,benzin,ford,ja,2016-03-25 00:00:00,0,34587,2016-03-25 16:40:21
49739,2016-03-17 15:47:34,Reparaturfaelligen_twingo,privat,Angebot,0,test,NaN,2016,manuell,58,twingo,150000,0,benzin,renault,nein,2016-03-17 00:00:00,0,27412,2016-03-17 15:47:34
49755,2016-04-02 13:46:23,Mercedes_Benz_w202_unfaller,privat,Angebot,0,test,limousine,1998,manuell,136,c_klasse,150000,7,benzin,mercedes_benz,NaN,2016-04-02 00:00:00,0,99441,2016-04-02 13:46:23
49793,2016-03-05 14:58:49,verkaufe_BMW_E_39,privat,Angebot,0,control,kombi,2000,automatik,183,5er,150000,1,benzin,bmw,NaN,2016-03-05 00:00:00,0,13125,2016-03-05 18:47:14
49843,2016-04-01 08:56:18,Mazda_323_F_1.4,privat,Angebot,60,test,kleinwagen,1998,manuell,73,3_reihe,150000,3,benzin,mazda,NaN,2016-04-01 00:00:00,0,34317,2016-04-03 04:45:16
49845,2016-03-21 00:50:15,Schlachte_VW_Sharan_vr6_Automatik___no_GTI_16V...,privat,Angebot,1,test,NaN,2000,automatik,174,sharan,5000,6,benzin,volkswagen,nein,2016-03-20 00:00:00,0,14621,2016-04-05 21:16:16
49880,2016-03-30 08:52:57,E39_528i_an_Bastler,privat,Angebot,0,control,NaN,2017,manuell,193,5er,150000,4,NaN,bmw,ja,2016-03-30 00:00:00,0,65468,2016-04-07 01:15:27
49884,2016-03-11 13:55:30,Audi_a6_2.5l__Schnaeppchen_nur_heute,privat,Angebot,0,test,kombi,1999,manuell,150,a6,150000,11,diesel,audi,NaN,2016-03-11 00:00:00,0,27711,2016-03-12 03:17:08
49943,2016-03-16 20:46:08,Opel_astra,privat,Angebot,0,control,NaN,2016,manuell,101,astra,150000,8,benzin,opel,NaN,2016-03-16 00:00:00,0,89134,2016-03-17 19:44:20
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,privat,Angebot,0,control,kleinwagen,1999,manuell,60,ka,150000,6,benzin,ford,NaN,2016-03-25 00:00:00,0,34355,2016-03-25 22:51:55
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0,control,cabrio,1983,manuell,70,golf,150000,2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53

Looking at the data the price does seem reasonable as eBay's marketplace allows you to sell a car with no reserve at auction which is $0.99. We could keep the data for these cheaper cars that are selling at auction, however it will significantly skew the average selling price data. Consequently we will remove these cars.

In [18]:
autos.loc[autos["price"] > 200000] # Cars with a price greater than $200,000

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,privat,Angebot,999999,test,kombi,2009,manuell,101,focus,125000,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111,test,limousine,1973,manuell,48,escort,50000,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000,control,coupe,1992,NaN,0,NaN,50000,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000,control,coupe,1960,manuell,368,NaN,100000,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
12682,2016-03-28 22:48:01,Porsche_GT3_RS__PCCB__Lift___grosser_Exklusiv_...,privat,Angebot,265000,control,coupe,2016,automatik,500,911,5000,3,benzin,porsche,nein,2016-03-28 00:00:00,0,70193,2016-04-05 03:44:51
14715,2016-03-30 08:37:24,Rolls_Royce_Phantom_Drophead_Coupe,privat,Angebot,345000,control,cabrio,2012,automatik,460,NaN,20000,8,benzin,sonstige_autos,nein,2016-03-30 00:00:00,0,73525,2016-04-07 00:16:26
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566,control,kombi,1999,automatik,190,NaN,150000,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
34723,2016-03-23 16:37:29,Porsche_Porsche_911/930_Turbo_3.0__deutsche_Au...,privat,Angebot,299000,test,coupe,1977,manuell,260,911,100000,7,benzin,porsche,nein,2016-03-23 00:00:00,0,61462,2016-04-06 16:44:50
35923,2016-04-03 07:56:23,Porsche_911_Targa_Exclusive_Edition__1_von_15_...,privat,Angebot,295000,test,cabrio,2015,automatik,400,911,5000,6,benzin,porsche,nein,2016-04-03 00:00:00,0,74078,2016-04-03 08:56:20
36818,2016-03-27 18:37:37,Porsche_991,privat,Angebot,350000,control,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-27 00:00:00,0,70499,2016-03-27 18:37:37
37585,2016-03-29 11:38:54,Volkswagen_Jetta_GT,privat,Angebot,999990,test,limousine,1985,manuell,111,jetta,150000,12,benzin,volkswagen,ja,2016-03-29 00:00:00,0,50997,2016-03-29 11:38:54
37840,2016-03-21 10:50:12,Porsche_997,privat,Angebot,220000,test,coupe,2008,manuell,415,911,30000,7,benzin,porsche,nein,2016-03-21 00:00:00,0,69198,2016-04-06 04:46:14
38299,2016-03-28 22:25:25,Glas_BMW_mit_Wasser,privat,Angebot,250000,test,NaN,2015,NaN,0,x_reihe,5000,0,NaN,bmw,NaN,2016-03-28 00:00:00,0,60489,2016-03-28 22:25:25
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
43049,2016-03-21 19:53:52,2_VW_Busse_T3,privat,Angebot,999999,test,bus,1981,manuell,70,transporter,150000,1,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,99880,2016-03-28 17:18:28
47337,2016-04-05 10:25:38,BMW_Z8_roadster,privat,Angebot,259000,test,cabrio,2001,manuell,400,z_reihe,20000,6,benzin,bmw,nein,2016-04-05 00:00:00,0,61462,2016-04-05 12:07:32
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678,control,limousine,2001,manuell,101,vectra,150000,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37

Many cars advertised in this price range are legitimate. Generally, those cars over $350,000 are priced incorrectly so we will use this as a guide to remove the outliers.

#### PowerPS Outliers

In [19]:
autos.loc[autos["powerps"] <18] # Cars with less than 18 PS

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,250,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,350,control,NaN,2000,NaN,0,NaN,150000,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0,control,NaN,2005,NaN,0,NaN,150000,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
32,2016-03-20 05:03:03,Corsa_mit_TÜV_5.2016,privat,Angebot,350,control,kleinwagen,1999,manuell,0,corsa,150000,7,benzin,opel,NaN,2016-03-20 00:00:00,0,27619,2016-04-06 03:15:20
35,2016-03-29 21:52:56,Ford_Mondeo,privat,Angebot,1200,test,kombi,1998,manuell,0,mondeo,150000,12,benzin,ford,nein,2016-03-29 00:00:00,0,52428,2016-04-06 08:45:35
46,2016-03-31 10:53:28,BMW_mit__Lpg,privat,Angebot,9000,control,NaN,2005,automatik,0,NaN,150000,0,NaN,bmw,NaN,2016-03-31 00:00:00,0,12351,2016-04-06 03:44:41
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,3500,test,limousine,1985,NaN,0,andere,5000,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00
59,2016-03-17 17:50:54,Mercedes_A_Klasse_W_168__A_140_gruen,privat,Angebot,700,control,NaN,2016,manuell,0,a_klasse,150000,0,benzin,mercedes_benz,NaN,2016-03-17 00:00:00,0,95356,2016-03-19 17:46:47
64,2016-04-05 07:36:19,Autotransport__Abschlepp_Schlepper,privat,Angebot,40,test,NaN,2011,NaN,0,5er,150000,5,NaN,bmw,NaN,2016-04-05 00:00:00,0,40591,2016-04-07 12:16:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0,control,NaN,1990,manuell,0,NaN,5000,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48
74,2016-03-06 02:00:38,Opel_Kombi,privat,Angebot,1500,control,kombi,2006,manuell,0,astra,150000,3,benzin,opel,nein,2016-03-06 00:00:00,0,23627,2016-04-06 01:46:40
85,2016-03-11 12:36:21,Toyota_yaris_cool,privat,Angebot,5000,test,kleinwagen,2009,manuell,0,yaris,60000,12,NaN,toyota,NaN,2016-03-11 00:00:00,0,30916,2016-04-07 08:17:01
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0,control,NaN,2000,NaN,0,5er,150000,0,NaN,bmw,NaN,2016-03-29 00:00:00,0,82256,2016-04-06 21:18:15
92,2016-03-25 19:47:32,Zu_verkaufen,privat,Angebot,1900,test,NaN,2000,NaN,0,NaN,150000,0,NaN,bmw,NaN,2016-03-25 00:00:00,0,72108,2016-04-07 02:16:01
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,60000,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34
101,2016-03-22 17:51:49,Schnaepchen_in_einem_Jahr_OLDTEIMER_KENNZEICHEN,privat,Angebot,600,control,NaN,2016,NaN,0,corolla,150000,0,NaN,toyota,NaN,2016-03-22 00:00:00,0,32825,2016-03-22 17:51:49
102,2016-03-22 11:57:49,Ford_Ka_dunkel_blau,privat,Angebot,320,control,kleinwagen,2004,manuell,0,ka,5000,6,benzin,ford,ja,2016-03-22 00:00:00,0,24109,2016-04-02 01:47:21
124,2016-03-16 14:51:35,Passat_2.0_TDI_DPF_Comfortline,privat,Angebot,3100,test,limousine,2006,NaN,0,passat,150000,8,diesel,volkswagen,nein,2016-03-16 00:00:00,0,83071,2016-03-16 14:51:35
139,2016-03-13 19:43:32,Mercedes_Benz_E_320,privat,Angebot,11490,control,limousine,2003,automatik,0,e_klasse,125000,10,benzin,mercedes_benz,NaN,2016-03-13 00:00:00,0,64283,2016-03-31 22:45:11
144,2016-03-31 15:52:58,Skoda_Felicia_8_fach_bereift_86300_km___kein_Rost,privat,Angebot,150,control,limousine,1995,NaN,0,andere,90000,3,benzin,skoda,NaN,2016-03-31 00:00:00,0,31137,2016-03-31 16:41:54
155,2016-03-07 18:45:47,VW_Touran__140_PS,privat,Angebot,23900,control,bus,2012,automatik,0,touran,30000,8,benzin,volkswagen,NaN,2016-03-07 00:00:00,0,85080,2016-04-07 03:15:35
164,2016-03-13 20:39:16,Opel_Meriva__nur_76000_Km__unfallfrei__scheckh...,privat,Angebot,4800,control,NaN,2018,manuell,0,meriva,80000,4,benzin,opel,nein,2016-03-13 00:00:00,0,37627,2016-04-04 16:48:02
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,privat,Angebot,0,control,NaN,2011,NaN,0,transporter,5000,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,64739,2016-04-06 19:45:08
175,2016-03-19 15:48:21,MG_MGB_GT,privat,Angebot,13800,control,coupe,1972,NaN,0,NaN,20000,6,NaN,sonstige_autos,nein,2016-03-19 00:00:00,0,53639,2016-03-23 02:17:04
181,2016-03-30 23:45:05,Peugeot_206_Klimaanlage_65kw_TÜV_bis_01.2017,privat,Angebot,700,control,kleinwagen,1999,manuell,0,2_reihe,150000,10,benzin,peugeot,nein,2016-03-30 00:00:00,0,53844,2016-04-03 15:44:23
191,2016-03-07 05:39:55,Ford_Mondeo_Kombi_Diesel_ca.207000km,privat,Angebot,999,test,kombi,2003,manuell,0,mondeo,150000,3,diesel,ford,NaN,2016-03-06 00:00:00,0,42897,2016-03-09 06:44:39
192,2016-03-12 22:40:28,Opel_VIVARO,privat,Angebot,17800,control,bus,2014,NaN,0,vivaro,40000,0,NaN,opel,nein,2016-03-12 00:00:00,0,22301,2016-03-15 10:15:20
199,2016-03-12 08:54:25,Renault_clio_TÜV_09_2017,privat,Angebot,1150,control,limousine,1999,manuell,0,clio,150000,3,NaN,renault,nein,2016-03-12 00:00:00,0,26607,2016-03-13 00:45:34
210,2016-04-03 21:00:02,KIA_Carnival_Automatik_Motor_defekt,privat,Angebot,890,test,bus,2002,automatik,0,carnival,150000,11,diesel,kia,NaN,2016-04-03 00:00:00,0,12557,2016-04-05 21:47:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49741,2016-04-01 16:44:42,Verkaufe_Ford_Ka,privat,Angebot,400,control,kleinwagen,1998,manuell,0,NaN,40000,0,benzin,ford,nein,2016-04-01 00:00:00,0,50126,2016-04-05 11:46:01
49774,2016-03-08 14:51:37,320_d_Edition_Sport,privat,Angebot,2200,test,limousine,2003,NaN,0,3er,150000,11,diesel,bmw,nein,2016-03-08 00:00:00,0,34454,2016-03-08 14:51:37
49777,2016-03-12 13:52:37,A4_S_line_Quattro_FULL_PAKET,privat,Angebot,2500,control,kombi,2003,NaN,0,a4,150000,6,NaN,audi,NaN,2016-03-12 00:00:00,0,30419,2016-03-12 13:52:37
49798,2016-03-21 02:00:39,Opel_Astra_Caravan,privat,Angebot,650,test,kombi,1998,manuell,0,astra,150000,0,benzin,opel,NaN,2016-03-21 00:00:00,0,16727,2016-03-25 03:47:51
49806,2016-03-15 17:56:40,Mitsubishi__Colt_1_1,privat,Angebot,3000,control,kleinwagen,2007,manuell,0,colt,150000,8,benzin,mitsubishi,nein,2016-03-15 00:00:00,0,59514,2016-03-20 14:19:36
49815,2016-03-08 10:06:22,SUCHE_TIPPS___Ford_Mustang_Shelby_GT_350_500_K...,privat,Angebot,130000,control,coupe,1968,NaN,0,mustang,50000,7,benzin,ford,NaN,2016-03-08 00:00:00,0,56070,2016-03-23 23:15:17
49817,2016-03-16 17:58:35,Mercedes_E240_211k,privat,Angebot,6500,control,kombi,2003,automatik,0,e_klasse,150000,12,benzin,mercedes_benz,nein,2016-03-16 00:00:00,0,39261,2016-04-04 22:16:01
49842,2016-04-02 14:42:45,Mercedes_Benz_Vito_111_CDI_Kompakt,privat,Angebot,12500,test,bus,2009,NaN,0,vito,90000,1,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,30826,2016-04-06 12:46:12
49844,2016-03-26 19:43:51,Fahrzeug_Ankauf!!!!,privat,Angebot,22222,control,NaN,2005,NaN,0,NaN,5000,0,NaN,opel,NaN,2016-03-26 00:00:00,0,72160,2016-03-26 19:43:51
49849,2016-04-05 11:50:41,1997_Opel_Vectra_B_1.8_CD_Mit_TÜV,privat,Angebot,650,test,limousine,1997,manuell,0,vectra,150000,4,benzin,opel,nein,2016-04-05 00:00:00,0,51149,2016-04-05 11:50:41
49860,2016-04-03 14:49:24,Tausche_gegen_Opel_Agila,privat,Angebot,800,test,andere,1997,NaN,0,agila,20000,0,benzin,opel,NaN,2016-04-03 00:00:00,0,65191,2016-04-06 21:45:13
49865,2016-03-10 01:37:42,Mercedes_CLK_270_CDI_TÜV_bis_11_2017_klimaauto...,privat,Angebot,5200,test,coupe,2004,automatik,0,clk,5000,12,diesel,mercedes_benz,NaN,2016-03-09 00:00:00,0,80686,2016-03-31 07:46:31
49868,2016-03-26 21:50:00,C_Klasse_200_Kompressor,privat,Angebot,4500,control,limousine,2004,manuell,0,c_klasse,150000,9,benzin,mercedes_benz,ja,2016-03-26 00:00:00,0,85055,2016-04-06 14:15:40
49870,2016-03-08 18:50:51,A2_1.4_16V_S_Line_Leder_interieur_Panorama,privat,Angebot,2000,test,limousine,2002,NaN,0,a2,150000,9,diesel,audi,NaN,2016-03-08 00:00:00,0,51065,2016-03-08 18:50:51
49871,2016-03-12 19:00:30,Ford_Fiesta_1_4_TÜV_bis_2018,privat,Angebot,1800,test,limousine,2003,manuell,0,fiesta,150000,3,benzin,ford,nein,2016-03-12 00:00:00,0,61169,2016-03-13 17:09:04
49874,2016-04-02 18:25:23,Ford_KA_mit_Tuev_2017,privat,Angebot,100,test,kleinwagen,1999,manuell,0,ka,150000,6,benzin,ford,ja,2016-04-02 00:00:00,0,55131,2016-04-04 05:29:37
49876,2016-03-22 17:57:24,Audi_a5_3.0_tdi_s_line,privat,Angebot,14700,control,NaN,2016,manuell,0,NaN,150000,10,diesel,audi,NaN,2016-03-22 00:00:00,0,44227,2016-03-22 18:40:53
49892,2016-03-14 14:57:03,Vw_T_4_Bus,privat,Angebot,6000,control,bus,2003,manuell,0,NaN,150000,4,diesel,volkswagen,nein,2016-03-14 00:00:00,0,71144,2016-03-31 02:16:20
49896,2016-03-25 19:51:40,Vw_golf_1_cabrio,privat,Angebot,200,test,cabrio,1990,automatik,0,golf,150000,4,NaN,volkswagen,ja,2016-03-25 00:00:00,0,70597,2016-03-27 08:17:20
49898,2016-03-31 17:36:41,BMW_318_i.__Wer_in_Tresse_hat_bitte_melden,privat,Angebot,650,control,limousine,1991,manuell,0,3er,150000,7,benzin,bmw,NaN,2016-03-31 00:00:00,0,31675,2016-03-31 18:41:31
49911,2016-04-02 07:54:30,BMW_X3_Euro4_TÜV_Neu_Klima_Leder_AHK_Panorama_...,privat,Angebot,11500,test,suv,2007,manuell,0,x_reihe,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,51588,2016-04-06 05:44:50
49926,2016-03-13 00:36:56,Vw_golf_cabrio,privat,Angebot,850,control,NaN,2000,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-12 00:00:00,0,53227,2016-03-15 17:17:49
49932,2016-03-14 18:52:18,Mercedes_320_cdi_7_Sitzer_Avantgarde,privat,Angebot,1400,test,kombi,1999,automatik,0,NaN,150000,0,NaN,mercedes_benz,NaN,2016-03-14 00:00:00,0,94315,2016-03-14 18:52:18
49955,2016-03-30 12:50:18,Golf_1.9_TDI_DPF_4mot_GT_Sport,privat,Angebot,3400,control,limousine,2008,NaN,0,golf,150000,11,diesel,volkswagen,nein,2016-03-30 00:00:00,0,83512,2016-03-30 12:50:18
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,1000,control,NaN,1995,automatik,0,NaN,150000,0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,150,test,kleinwagen,1997,manuell,0,polo,150000,5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,500,control,NaN,2016,manuell,0,twingo,150000,0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,1650,control,kleinwagen,1997,manuell,0,NaN,150000,7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53

When browsing the powerps values, to the point of 18ps, many advertisements seem legitimate. Hence we will remove any cars with less than 18ps. Lets look at cars with more than 550PS

In [20]:
autos.loc[autos["powerps"] > 550] # Cars with more than 550PS

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
160,2016-03-31 02:36:24,BMW_M5_DKG,privat,Angebot,50500,test,limousine,2012,automatik,560,m_reihe,100000,3,benzin,bmw,nein,2016-03-31 00:00:00,0,16225,2016-04-05 19:15:29
1699,2016-04-04 19:49:19,Opel_Corsa_1.0_Motor_ecotek,privat,Angebot,1200,test,limousine,2001,manuell,6512,corsa,150000,12,benzin,opel,NaN,2016-04-04 00:00:00,0,47198,2016-04-06 22:16:46
2220,2016-03-30 17:56:27,Ford_ka_top_zustand,privat,Angebot,850,control,NaN,2005,manuell,1003,ka,5000,12,benzin,ford,nein,2016-03-30 00:00:00,0,45891,2016-04-05 06:17:55
2670,2016-04-02 15:47:00,Verkaufe_Ford_Focus_!,privat,Angebot,360,control,kleinwagen,1999,NaN,1988,focus,150000,2,benzin,ford,NaN,2016-04-02 00:00:00,0,54459,2016-04-06 14:44:28
2876,2016-03-19 06:36:23,Golf_3_Cabrio_voll_fahrbereit_tuev,privat,Angebot,1990,control,cabrio,1998,manuell,900,NaN,150000,3,benzin,volkswagen,nein,2016-03-19 00:00:00,0,87549,2016-04-06 06:16:32
3753,2016-04-03 18:47:14,VW_Polo_9n,privat,Angebot,4700,control,kleinwagen,2009,manuell,6045,polo,125000,12,benzin,volkswagen,nein,2016-04-03 00:00:00,0,48565,2016-04-05 19:17:39
4279,2016-03-29 19:51:19,Citroen_C4_1.6Hdi__94.500km,privat,Angebot,2850,control,limousine,2005,manuell,900,c4,100000,2,diesel,citroen,nein,2016-03-29 00:00:00,0,46459,2016-04-04 05:16:35
4405,2016-03-21 19:53:24,VW_Golf_Automatik_Grau,privat,Angebot,2200,test,limousine,1998,automatik,1781,golf,150000,10,benzin,volkswagen,ja,2016-03-21 00:00:00,0,47198,2016-04-06 22:46:46
4464,2016-03-29 16:47:47,Zu_verkaufen_Mercedes_A_160_mit_neu_TÜV,privat,Angebot,1650,control,kleinwagen,2000,automatik,1001,a_klasse,150000,3,benzin,mercedes_benz,nein,2016-03-29 00:00:00,0,89134,2016-04-04 01:18:34
4777,2016-04-03 12:45:25,Audi_tt_bj_2000_Unfall.._laeuft_top..,privat,Angebot,2200,control,coupe,2000,manuell,1793,tt,150000,4,NaN,audi,ja,2016-04-03 00:00:00,0,16248,2016-04-07 14:57:35
5342,2016-03-08 17:36:57,Mercedes_Benz_CL_65_AMG_Automatik,privat,Angebot,23799,control,coupe,2010,automatik,612,cl,150000,2,benzin,mercedes_benz,nein,2016-03-08 00:00:00,0,30938,2016-03-08 17:36:57
6923,2016-03-06 22:47:40,Verkaufe_einen_schoenen_Stadtflitzer.,privat,Angebot,0,control,kleinwagen,1999,automatik,599,andere,150000,0,benzin,smart,NaN,2016-03-06 00:00:00,0,13127,2016-03-06 22:47:40
7556,2016-03-23 23:56:04,Kaufe_alle_A4_B5_egal_in_welchem_zustand!!,privat,Angebot,100,control,NaN,1995,NaN,999,a4,150000,8,NaN,audi,ja,2016-03-23 00:00:00,0,33034,2016-03-24 07:42:59
7798,2016-03-15 14:36:47,Mercedes_Benz_C_63_AMG_Coupe_AMG_SPEEDSHIFT_MCT,privat,Angebot,51000,control,coupe,2012,automatik,551,c_klasse,40000,7,benzin,mercedes_benz,nein,2016-03-15 00:00:00,0,71691,2016-03-15 14:36:47
8000,2016-03-16 00:18:43,Opel_zafira,privat,Angebot,2599,test,NaN,2016,manuell,1779,zafira,150000,0,benzin,opel,nein,2016-03-14 00:00:00,0,60326,2016-04-06 18:45:49
8446,2016-03-24 05:03:36,Bentley_Continental_Flying_Spur_Speed,privat,Angebot,79999,test,limousine,2011,automatik,610,NaN,60000,1,benzin,sonstige_autos,nein,2016-03-24 00:00:00,0,8523,2016-03-30 06:47:28
9335,2016-03-20 17:53:53,Golf_3_Vr6_Turbo_4Motion_640PS,privat,Angebot,18000,test,coupe,1997,manuell,640,golf,125000,10,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,33613,2016-03-20 17:53:53
9968,2016-03-14 15:50:17,Start_Stop_Leder_Lenkrad_mit_neuen_Alweterrreifen,privat,Angebot,7200,control,kleinwagen,2010,manuell,1016,yaris,30000,4,benzin,toyota,NaN,2016-03-14 00:00:00,0,24107,2016-03-26 09:17:34
10454,2016-03-09 23:54:51,"Audi_RS6_Avant_850PS_Getriebe_NEU_21""_Felgen",privat,Angebot,50900,test,kombi,2008,automatik,850,andere,100000,6,benzin,audi,nein,2016-03-09 00:00:00,0,13509,2016-04-05 20:47:24
10556,2016-04-01 06:02:10,UNFAL_Auto,privat,Angebot,450,control,NaN,1800,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-01 00:00:00,0,63322,2016-04-01 09:42:30
10659,2016-03-18 11:47:40,VW_POLO_BASTLERFAHRZEUG,privat,Angebot,100,control,kleinwagen,1996,manuell,3750,polo,125000,4,benzin,volkswagen,ja,2016-03-18 00:00:00,0,12489,2016-04-03 21:17:20
10668,2016-03-29 18:46:51,BMW_X5_M,privat,Angebot,25500,control,limousine,2010,automatik,555,x_reihe,125000,7,benzin,bmw,nein,2016-03-29 00:00:00,0,41068,2016-04-04 03:45:39
10813,2016-03-12 09:58:22,Volkswagen_Kaefer_1303_1972_von_2e_eigenere,privat,Angebot,3950,control,kleinwagen,1972,manuell,1300,kaefer,150000,0,benzin,volkswagen,NaN,2016-03-12 00:00:00,0,26899,2016-03-23 20:46:39
11009,2016-03-15 21:55:11,Smart_fortwo_Silver_**Brabus_Style**,privat,Angebot,2550,control,kleinwagen,2004,automatik,6226,fortwo,125000,5,benzin,smart,nein,2016-03-15 00:00:00,0,12359,2016-04-07 07:45:21
11311,2016-04-01 02:36:43,Vw__zu__verkaufen__Caravelle_Confort_kurz_,privat,Angebot,8600,control,andere,2007,automatik,3500,transporter,150000,12,NaN,volkswagen,NaN,2016-04-01 00:00:00,0,30855,2016-04-07 05:17:11
11433,2016-03-30 21:44:21,Audi_R8_V10_plus_5.2_FSI_quattro_S_tronic_Akra...,privat,Angebot,175000,test,coupe,2016,automatik,610,andere,5000,1,benzin,audi,nein,2016-03-30 00:00:00,0,94244,2016-04-05 11:46:33
11893,2016-03-10 11:53:22,Original__Lamborgini_Diablo_Schutzhaube_91_2002,privat,Angebot,300,test,coupe,2002,manuell,551,NaN,5000,1,benzin,sonstige_autos,NaN,2016-03-10 00:00:00,0,65191,2016-03-23 10:15:40
11914,2016-03-09 22:56:46,Volkswagen_Caravelle_VW_T4_2_5_TDI,privat,Angebot,3200,test,NaN,2017,manuell,1998,transporter,150000,0,diesel,volkswagen,NaN,2016-03-09 00:00:00,0,45892,2016-03-12 20:16:45
12130,2016-03-17 19:57:47,Audi_RS6_Avant,privat,Angebot,18200,control,kombi,2008,automatik,579,andere,150000,5,benzin,audi,ja,2016-03-17 00:00:00,0,21129,2016-04-07 09:15:50
13573,2016-03-12 10:56:09,A_140__Bastler_fahrzeug__mit_TÜV_bis_08/17,privat,Angebot,750,control,kleinwagen,1999,manuell,1400,a_klasse,150000,2,benzin,mercedes_benz,NaN,2016-03-12 00:00:00,0,24109,2016-03-13 01:46:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34634,2016-03-08 19:57:01,Chevrolet_Camaro_ZL1_Coupe_Automatic,privat,Angebot,44900,test,coupe,2012,automatik,587,andere,30000,7,benzin,chevrolet,nein,2016-03-08 00:00:00,0,94424,2016-03-20 02:47:14
35039,2016-03-10 08:57:25,Top_Cabrio_A4_s_line,privat,Angebot,11950,test,cabrio,2008,manuell,16312,a4,20000,4,benzin,audi,nein,2016-03-10 00:00:00,0,51647,2016-03-17 09:16:19
36191,2016-03-25 14:55:04,1.HAND__wenig_Kilometer,privat,Angebot,1499,control,limousine,1998,manuell,1011,NaN,100000,12,benzin,opel,NaN,2016-03-25 00:00:00,0,47475,2016-04-06 18:18:38
36421,2016-03-20 16:51:48,Verkaufe_meinen_bmw_525d,privat,Angebot,6000,test,kombi,2004,automatik,17700,5er,150000,7,diesel,bmw,nein,2016-03-20 00:00:00,0,26316,2016-04-06 22:45:56
36973,2016-03-14 13:58:16,Mercedes_E_Klasse_280_CDI_sehr_gepflegt_67500_km,privat,Angebot,9500,test,limousine,2004,automatik,1771,e_klasse,70000,9,diesel,mercedes_benz,NaN,2016-03-14 00:00:00,0,50859,2016-03-31 00:45:52
37651,2016-03-29 19:44:48,verkauf__bastler__export,privat,Angebot,500,control,kombi,1999,manuell,1001,astra,150000,7,benzin,opel,NaN,2016-03-29 00:00:00,0,33154,2016-04-06 05:44:36
39221,2016-03-27 11:52:47,Seat_Marbella_kultig,privat,Angebot,111,test,NaN,1995,NaN,900,andere,5000,3,benzin,seat,NaN,2016-03-27 00:00:00,0,10315,2016-03-27 11:52:47
40017,2016-03-05 17:48:02,Ford_Focus_1.8_Diesel,privat,Angebot,1500,test,kombi,2003,manuell,1001,focus,150000,10,diesel,ford,NaN,2016-03-05 00:00:00,0,32791,2016-03-12 05:18:00
40091,2016-03-14 13:58:10,Ford_Focus,privat,Angebot,600,test,kombi,2000,manuell,1753,focus,150000,12,diesel,ford,nein,2016-03-14 00:00:00,0,49847,2016-03-23 14:46:49
40096,2016-03-09 18:43:44,Ford_Streetka_1.6_8V,privat,Angebot,3500,test,cabrio,2003,manuell,952,ka,70000,5,benzin,ford,nein,2016-03-09 00:00:00,0,26903,2016-03-12 04:16:07
40625,2016-03-24 11:51:57,VW_TOURAN_HIGHLINE_2.0_TDI_DIESEL,privat,Angebot,9900,test,bus,2011,manuell,1400,touran,150000,1,NaN,volkswagen,nein,2016-03-24 00:00:00,0,67067,2016-04-01 06:18:26
40693,2016-03-08 11:50:02,Audi_RS6_Avant,privat,Angebot,21400,control,kombi,2008,automatik,740,andere,150000,6,benzin,audi,nein,2016-03-08 00:00:00,0,83229,2016-03-08 18:19:27
40807,2016-03-17 17:56:36,Mercedes_Benz_S_4Matic_*Carpristo*Bang&Olufsen...,privat,Angebot,74999,control,limousine,2013,automatik,585,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-17 00:00:00,0,33106,2016-03-24 13:17:41
40975,2016-03-09 10:54:49,Bentley_Continental_Flying_Spur,privat,Angebot,55000,control,limousine,2008,automatik,559,NaN,20000,2,benzin,sonstige_autos,nein,2016-03-09 00:00:00,0,68239,2016-03-16 02:44:51
41172,2016-04-03 14:45:36,Suzuki_Baleno_1_3l_GS_TÜV_neu,privat,Angebot,950,test,kleinwagen,2001,manuell,8404,andere,125000,7,benzin,suzuki,NaN,2016-04-03 00:00:00,0,1594,2016-04-05 13:45:11
41673,2016-04-02 11:51:51,Opel_Agila_Silber_?,privat,Angebot,1900,test,kleinwagen,2001,manuell,5867,agila,70000,6,benzin,opel,nein,2016-04-02 00:00:00,0,46147,2016-04-06 09:46:07
43870,2016-03-08 03:02:24,VW_Passat_2_0_TDi_Inzahlungn._/Tausche_gegen_T...,privat,Angebot,5400,control,kombi,2006,manuell,1405,passat,150000,1,diesel,volkswagen,nein,2016-03-08 00:00:00,0,3238,2016-03-16 07:45:56
43987,2016-03-31 03:58:00,BMW_M5_DKG__Individual__Garantie_bis_04/17,privat,Angebot,50500,control,limousine,2012,automatik,560,m_reihe,100000,3,benzin,bmw,nein,2016-03-31 00:00:00,0,16225,2016-04-06 02:16:41
44410,2016-04-04 20:58:13,SKODA_FABIA_1_2_HTP_EASY/2.HAND/SCHECKH./TÜV_B...,privat,Angebot,4300,control,NaN,2016,manuell,696,fabia,150000,2,benzin,skoda,nein,2016-04-04 00:00:00,0,4838,2016-04-06 23:44:26
44929,2016-03-19 12:39:11,Corvette_Singray_7_4,privat,Angebot,19500,test,coupe,1974,automatik,600,andere,5000,7,benzin,chevrolet,nein,2016-03-19 00:00:00,0,38527,2016-03-28 13:15:43
45465,2016-03-26 19:46:06,Mercedes_Benz_e_270,privat,Angebot,2200,control,limousine,2002,automatik,1704,e_klasse,150000,1,NaN,mercedes_benz,ja,2016-03-26 00:00:00,0,31812,2016-04-06 09:44:59
45671,2016-03-18 00:51:03,PT_Cruiser_Crd_2.0_fuer_Kurzentschlossene_bis_...,privat,Angebot,0,test,NaN,2016,manuell,15016,ptcruiser,150000,12,diesel,chrysler,NaN,2016-03-17 00:00:00,0,24802,2016-03-20 09:51:49
46986,2016-03-22 22:55:30,Skoda_Octavia_Combi_Tsi,privat,Angebot,5000,control,NaN,2018,manuell,16011,octavia,150000,2,benzin,skoda,ja,2016-03-22 00:00:00,0,12681,2016-03-23 07:41:08
47409,2016-03-25 19:44:55,BMW_X5_M,privat,Angebot,36900,test,suv,2011,automatik,555,x_reihe,125000,11,benzin,bmw,nein,2016-03-25 00:00:00,0,70190,2016-03-25 19:44:55
47424,2016-03-21 14:54:41,Mercedes_E220_CDI,privat,Angebot,1550,control,NaN,2016,manuell,923,e_klasse,150000,8,NaN,mercedes_benz,nein,2016-03-21 00:00:00,0,58540,2016-04-02 13:47:09
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37
47948,2016-03-20 17:40:16,Opel_Astra_J_Sports_Tourer_1_4Turbo_60700Km_Na...,privat,Angebot,11000,test,kombi,2010,manuell,1401,NaN,70000,11,benzin,opel,NaN,2016-03-20 00:00:00,0,10315,2016-04-01 02:47:29
49085,2016-04-04 08:53:37,Dodge_Unfall_Viper_SRT_10_mit_8.4_Liter__650_PS,privat,Angebot,23900,control,cabrio,2008,manuell,650,NaN,40000,7,benzin,sonstige_autos,ja,2016-04-04 00:00:00,0,51061,2016-04-06 10:45:58
49263,2016-04-02 15:55:11,VW_Passat_1.9TDI_Kombi,privat,Angebot,1250,control,kombi,2003,automatik,1998,passat,5000,12,diesel,volkswagen,nein,2016-04-02 00:00:00,0,33719,2016-04-06 14:46:09
49391,2016-03-18 00:55:16,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",privat,Angebot,109999,test,coupe,2008,automatik,560,NaN,30000,9,benzin,sonstige_autos,nein,2016-03-17 00:00:00,0,96052,2016-04-05 21:46:24

The majority of cars in this power range have incorrect power levels. We will use this as the upper bounds to remove outliers.

### Removing the Outliers from Pricing, PowerPS and Registration Year Data

In [21]:
'''
Removing the outliers from the pricing data
'''

autos = autos[autos["price"].between(100,350000)]

In [22]:
autos["price"].describe()

count     48224.000000
mean       5930.371433
std        9078.372762
min         100.000000
25%        1250.000000
50%        3000.000000
75%        7499.000000
max      350000.000000
Name: price, dtype: float64

The values in the price column are now manageable for data analysis.

After that exercise we removed 1,776 rows.

In [23]:
autos["registration_year"].describe()

count    48224.000000
mean      2004.730964
std         87.897388
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The registration year column has a significant range of values ranging from 1000 to 9999. These are certainly some odd values. As the listings end in 2016, any car from 2016 onwards should be removed while any car registered before 1900 should also be removed.

In [24]:
autos = autos[autos["registration_year"].between(1900,2016)]

In [25]:
autos["registration_year"].describe()

count    46352.000000
mean      2002.939787
std          7.127146
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

The registration data looks much better now.

In [26]:
autos["registration_year"].value_counts(normalize=True).sort_index(ascending=False)

2016    0.025932
2015    0.008198
2014    0.014282
2013    0.017281
2012    0.028219
2011    0.034907
2010    0.034238
2009    0.044874
2008    0.047679
2007    0.049038
2006    0.057560
2005    0.062802
2004    0.058228
2003    0.058099
2002    0.053439
2001    0.056718
2000    0.066966
1999    0.062112
1998    0.050483
1997    0.041530
1996    0.029233
1995    0.025738
1994    0.013505
1993    0.009061
1992    0.007918
1991    0.007292
1990    0.007163
1989    0.003689
1988    0.002869
1987    0.001553
          ...
1968    0.000561
1967    0.000561
1966    0.000475
1965    0.000367
1964    0.000259
1963    0.000173
1962    0.000086
1961    0.000129
1960    0.000475
1959    0.000129
1958    0.000086
1957    0.000043
1956    0.000086
1955    0.000043
1954    0.000043
1953    0.000022
1952    0.000022
1951    0.000043
1950    0.000022
1948    0.000022
1943    0.000022
1941    0.000043
1939    0.000022
1938    0.000022
1937    0.000086
1934    0.000043
1931    0.000022
1929    0.000022
1927    0.000022
1910    0.000043
Name: registration_year, Length: 78, dtype: float64

In [27]:
autos = autos[autos["powerps"].between(18,550)] #Removing Outliers from PowerPS

In [28]:
autos["powerps"].describe()

count    41886.000000
mean       126.493554
std         60.990597
min         18.000000
25%         80.000000
50%        116.000000
75%        150.000000
max        544.000000
Name: powerps, dtype: float64

These figures for Powerps look much better now.

### Removing Unnecessary Columns

After removing the outliers, we will now remove unnecessary columns for our analysis.

In [29]:
autos.info() #To check what columns we currently have.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41886 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          41886 non-null object
name                  41886 non-null object
seller                41886 non-null object
offertype             41886 non-null object
price                 41886 non-null int64
abtest                41886 non-null object
vehicletype           40437 non-null object
registration_year     41886 non-null int64
gearbox               41185 non-null object
powerps               41886 non-null int64
model                 40321 non-null object
odometer_km           41886 non-null int64
registration_month    41886 non-null int64
fueltype              39769 non-null object
brand                 41886 non-null object
unrepaired_damage     35991 non-null object
ad_created            41886 non-null object
nrofpictures          41886 non-null int64
postalcode            41886 non-null int64
last_seen             41886 non-null object
dtypes: int64(7), object(13)
memory usage: 6.7+ MB

In [30]:
autos.drop(['seller', 'offertype', 'nrofpictures', 'date_crawled', 'last_seen', 'ad_created'], axis='columns', inplace=True)

In [31]:
autos.info() #See if the redundant columns have now been removed.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41886 entries, 0 to 49999
Data columns (total 14 columns):
name                  41886 non-null object
price                 41886 non-null int64
abtest                41886 non-null object
vehicletype           40437 non-null object
registration_year     41886 non-null int64
gearbox               41185 non-null object
powerps               41886 non-null int64
model                 40321 non-null object
odometer_km           41886 non-null int64
registration_month    41886 non-null int64
fueltype              39769 non-null object
brand                 41886 non-null object
unrepaired_damage     35991 non-null object
postalcode            41886 non-null int64
dtypes: int64(6), object(8)
memory usage: 4.8+ MB

### Filling in the Blanks

From the last autos.info() run, we can see that there are a few columns with values that are blank. For example, unrepaired_damage has 39,769 values while date_crawled has 41,886. 

We can either remove all of these rows with missing values, or we can replace them with "N/A". In my opinion, we're probably better off keeping the rows and using "N/A" to fill the gaps as there is still usable data here.

Of concern the fueltype and unrepaired_damage columns will require filling in.

In [32]:
#Creating some filters of rows with columns containing blanks to explore the data

bool_series_ft = pd.isnull(autos["fueltype"])
bool_series_unrepaired = pd.isnull(autos["unrepaired_damage"])

In [33]:
#Viewing rows with blanks in the unrepaired_damage column
autos[bool_series_unrepaired]

,name,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,postalcode
5,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatik,150,voyager,150000,4,diesel,chrysler,NaN,22962
6,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,150000,8,benzin,volkswagen,NaN,31535
14,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,kleinwagen,2007,manuell,75,clio,150000,9,benzin,renault,NaN,81737
18,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,150000,0,benzin,bmw,NaN,54329
20,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,kombi,2003,manuell,131,a4,150000,5,diesel,audi,NaN,53913
34,Bmw_530d__navi_tuv03/18,2600,test,kombi,2000,automatik,193,5er,150000,6,diesel,bmw,NaN,95111
42,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,11900,control,kleinwagen,2014,manuell,60,polo,20000,7,benzin,volkswagen,NaN,26629
56,Renault_Clio,650,test,kleinwagen,1997,manuell,58,clio,125000,7,benzin,renault,NaN,59229
67,Jeep_Wrangler_YJ,4800,test,suv,1992,manuell,121,wrangler,150000,5,benzin,jeep,NaN,46325
73,VW_T3_Doka_1_7D_TÜV_07/2017,2700,test,bus,1986,manuell,57,transporter,125000,8,diesel,volkswagen,NaN,82205
76,BMW_318i_neustes_Model_0Km,31999,control,limousine,2016,manuell,136,3er,5000,2,benzin,bmw,NaN,45149
77,Volvo_V40___Tuev_neu,2200,test,kombi,2001,manuell,108,v40,150000,6,benzin,volvo,NaN,24867
79,Seat_Ibiza_1.9_TDI__Fr,6300,control,kleinwagen,2007,manuell,131,ibiza,150000,0,diesel,seat,NaN,4157
98,Audi_A4_Cabriolet_2.0_TFSI_S_Line,13500,test,cabrio,2008,automatik,200,a4,125000,5,benzin,audi,NaN,66459
107,zu_verkaufen_Fat_punto_1.9,550,test,kleinwagen,2001,manuell,85,punto,150000,4,diesel,fiat,NaN,50389
121,verkaufe_Ford_focus_1_8_Diesel,1100,control,kombi,2002,manuell,127,focus,5000,8,diesel,ford,NaN,27568
135,Opel_Meriva_B_Panoramadach__Sitz__und_Lenkradh...,8500,control,NaN,2016,manuell,81,meriva,90000,8,diesel,opel,NaN,48147
138,Ford_C_Max_Titanium_1_0L._125Ps_Benziner__Magn...,18300,test,bus,2015,manuell,125,c_max,20000,7,benzin,ford,NaN,66571
143,Mercedes_Benz_E_Klasse_W211_320_CDI_Vollaussta...,9655,test,limousine,2006,automatik,224,e_klasse,150000,6,diesel,mercedes_benz,NaN,49434
147,VW_Polo_Ersatzteilspender,600,control,NaN,2000,manuell,60,polo,125000,6,benzin,volkswagen,NaN,18311
169,VW_Golf_Variant_1.6_SR__Klima__Schiebedach__AH...,1700,control,kombi,2000,automatik,101,golf,150000,12,benzin,volkswagen,NaN,13587
174,Fiat_Punto_sporting,300,test,kleinwagen,2000,manuell,80,punto,150000,8,benzin,fiat,NaN,97447
187,VW_Polo_Kombi_TÜV_2017,900,control,kombi,1999,manuell,60,polo,150000,7,benzin,volkswagen,NaN,24986
190,An_Bastler_oder_Export,800,test,limousine,2004,manuell,131,mondeo,150000,3,diesel,ford,NaN,33161
203,BMW_316i_Touring,750,test,NaN,2000,manuell,102,3er,150000,8,NaN,bmw,NaN,27628
217,PORSCHE_924S__11/1989,8900,control,coupe,1989,NaN,160,andere,150000,11,benzin,porsche,NaN,45136
221,Opel_Corsa_B_Bastler_Kein_TÜV,150,test,kleinwagen,1995,manuell,45,corsa,150000,4,benzin,opel,NaN,44894
222,Opel_Astra_Cabrio,1600,control,cabrio,1996,manuell,75,astra,100000,10,benzin,opel,NaN,21033
231,VW_Passat_35i__2.0Liter__115_PS,350,control,kombi,1994,manuell,115,passat,150000,10,benzin,volkswagen,NaN,35713
239,Mercedes_benz_c_220_cdi,3500,control,limousine,2000,manuell,143,c_klasse,150000,9,diesel,mercedes_benz,NaN,20359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49729,WV_Touran_Highline_2.0_Tdi,3050,test,kombi,2005,automatik,140,touran,150000,7,diesel,volkswagen,NaN,22415
49730,Volkswagen_Sharan_2.0,999,test,kombi,1998,manuell,116,sharan,150000,10,benzin,volkswagen,NaN,96515
49732,Volkswagen_Golf_Cabriolet_TDI,2800,test,cabrio,2002,manuell,90,golf,150000,1,diesel,volkswagen,NaN,76275
49742,Renault_Twingo,3490,control,kleinwagen,2009,manuell,75,twingo,80000,12,NaN,renault,NaN,47138
49758,Opel_astra_1_6_eco_tec,600,control,limousine,1997,automatik,101,NaN,150000,5,benzin,opel,NaN,20095
49759,Ford_Focus_2.0_TDCi_Titanium,3600,test,limousine,2006,manuell,136,focus,150000,3,diesel,ford,NaN,91722
49763,318ti_compact_M_ausstattung,2100,control,andere,1997,manuell,140,3er,150000,3,benzin,bmw,NaN,35094
49771,BMW_120i_150ps_Lederausstattung_Klima_Multi_Le...,11850,control,limousine,2004,automatik,150,1er,70000,8,benzin,bmw,NaN,32791
49784,2x_Golf_I_Cabrio_Bel_Air__auch_einzeln_,2800,test,cabrio,1991,manuell,98,golf,150000,0,benzin,volkswagen,NaN,51588
49785,Bmw_E30_335_m30,6500,test,limousine,1987,NaN,211,3er,150000,0,benzin,bmw,NaN,25370
49795,Tausche_7___Sitzer_mit_190_PS___Automatik____>...,3999,control,bus,2001,automatik,190,transporter,150000,0,benzin,volkswagen,NaN,66119
49837,Ford_Focus_Kombi_1_8,2000,control,kombi,2001,manuell,115,focus,150000,0,benzin,ford,NaN,26441
49839,Mercedes_Benz_320_Avantgarde,1999,test,limousine,1997,automatik,224,e_klasse,150000,10,NaN,mercedes_benz,NaN,68159
49852,TOP__Golf_3_1.8l,1450,control,NaN,2016,NaN,75,golf,150000,7,benzin,volkswagen,NaN,67661
49862,opel_astra_F_caravan,1100,control,kombi,1997,manuell,74,astra,80000,9,NaN,opel,NaN,61279
49875,Golf_5_Variant_ab_April_zu_verkaufen,7900,control,kombi,2009,manuell,80,golf,90000,8,benzin,volkswagen,NaN,16269
49879,Tausche_meinen__Daimlerchrysler_Stratus_Cabrio...,2500,test,cabrio,2000,manuell,163,andere,150000,5,benzin,chrysler,NaN,41836
49889,Seat_Ibizia_Stella_1.4__60_PS__Bj.2000,1350,control,kleinwagen,2000,manuell,60,ibiza,150000,1,NaN,seat,NaN,50767
49890,Nissan_Almira,990,test,limousine,2001,manuell,90,almera,150000,7,benzin,nissan,NaN,96257
49904,Susuki_Baleno_TÜV_3.2018_Optisch_und_technisch...,1000,test,kombi,2001,manuell,96,andere,150000,3,benzin,suzuki,NaN,33330
49920,Mazda_323_F,700,test,kleinwagen,2000,manuell,65,andere,150000,3,NaN,mazda,NaN,36205
49921,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,2350,test,cabrio,2000,automatik,54,fortwo,100000,4,benzin,smart,NaN,55411
49954,328_Cabrio_Schalter,2490,control,cabrio,1997,manuell,193,NaN,150000,5,benzin,bmw,NaN,45701
49957,Bmw_mit_LPG__super_zustand_2_Jahre_Tuev_klima,2900,test,coupe,2000,manuell,150,3er,150000,8,lpg,bmw,NaN,41239
49958,Golf_3_2.8_vr6_highline,2900,test,limousine,1994,manuell,174,golf,150000,5,benzin,volkswagen,NaN,24241
49961,Golf_2.0_TDI_Sportline_Sonderproduktion,3200,control,limousine,2007,manuell,140,golf,150000,7,diesel,volkswagen,NaN,65760
49964,Audi_2_7_TDI_AVANT,12700,control,kombi,2010,automatik,192,a4,150000,5,diesel,audi,NaN,54441
49967,VW_Passat_2_0_TDI_comfortline,4999,test,kombi,2006,manuell,140,passat,150000,5,diesel,volkswagen,NaN,70619
49980,Ford_Escort_Turnier_16V,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,56218
49983,Ford_focus_99,600,test,kleinwagen,1999,manuell,101,focus,150000,4,benzin,ford,NaN,52477

From the above, we can see that for the majority of rows missing data in the unrepaired_damage column, the data is still good so we will replace the missing values with 'N/A'.

In [34]:
autos["unrepaired_damage"].fillna('N/A',inplace=True) #Replace the blank values.

In [35]:
autos["unrepaired_damage"].value_counts() #Check to see that this is ok now.

nein    32022
N/A      5895
ja       3969
Name: unrepaired_damage, dtype: int64

In [36]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41886 entries, 0 to 49999
Data columns (total 14 columns):
name                  41886 non-null object
price                 41886 non-null int64
abtest                41886 non-null object
vehicletype           40437 non-null object
registration_year     41886 non-null int64
gearbox               41185 non-null object
powerps               41886 non-null int64
model                 40321 non-null object
odometer_km           41886 non-null int64
registration_month    41886 non-null int64
fueltype              39769 non-null object
brand                 41886 non-null object
unrepaired_damage     41886 non-null object
postalcode            41886 non-null int64
dtypes: int64(6), object(8)
memory usage: 4.8+ MB

In [37]:
autos["fueltype"].fillna('N/A',inplace=True) #Replace blanks in fueltype column

In [38]:
autos["fueltype"].value_counts()

benzin     26005
diesel     13041
N/A         2117
lpg          605
cng           65
hybrid        37
elektro        8
andere         8
Name: fueltype, dtype: int64

In [39]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41886 entries, 0 to 49999
Data columns (total 14 columns):
name                  41886 non-null object
price                 41886 non-null int64
abtest                41886 non-null object
vehicletype           40437 non-null object
registration_year     41886 non-null int64
gearbox               41185 non-null object
powerps               41886 non-null int64
model                 40321 non-null object
odometer_km           41886 non-null int64
registration_month    41886 non-null int64
fueltype              41886 non-null object
brand                 41886 non-null object
unrepaired_damage     41886 non-null object
postalcode            41886 non-null int64
dtypes: int64(6), object(8)
memory usage: 4.8+ MB

### Removing Remaining Rows with Blanks

Now that the data is relatively clean, for completeness we will now remove all rows that contain blanks.

In [40]:
cleaned_autos = autos.dropna()

In [41]:
cleaned_autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 49999
Data columns (total 14 columns):
name                  38577 non-null object
price                 38577 non-null int64
abtest                38577 non-null object
vehicletype           38577 non-null object
registration_year     38577 non-null int64
gearbox               38577 non-null object
powerps               38577 non-null int64
model                 38577 non-null object
odometer_km           38577 non-null int64
registration_month    38577 non-null int64
fueltype              38577 non-null object
brand                 38577 non-null object
unrepaired_damage     38577 non-null object
postalcode            38577 non-null int64
dtypes: int64(6), object(8)
memory usage: 4.4+ MB

We now have 38,577 rows remaining that we can use for our analysis.

## Analysis

### Brand Analysis by Average Price

In [42]:
'''
We want to select the top 20 brands by ad-listing numbers
'''

filtered_brands = cleaned_autos["brand"].value_counts().head(20)
print(filtered_brands)

volkswagen       8145
bmw              4503
opel             4026
mercedes_benz    3856
audi             3571
ford             2627
renault          1739
peugeot          1133
fiat              939
seat              728
skoda             695
mazda             585
nissan            584
citroen           536
toyota            508
smart             480
hyundai           397
mini              378
volvo             371
mitsubishi        315
Name: brand, dtype: int64

In [43]:
filtered_brands = filtered_brands.index
print(filtered_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'nissan', 'citroen',
       'toyota', 'smart', 'hyundai', 'mini', 'volvo', 'mitsubishi'],
      dtype='object')

In [44]:
avg_price_by_brand = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos[cleaned_autos["brand"] == brands]
    mean = selected_rows["price"].mean()
    avg_price_by_brand[brands] = mean

In [45]:
avg_price_by_brand

{'audi': 9958.29095491459,
 'bmw': 8846.654452587165,
 'citroen': 4038.001865671642,
 'fiat': 3057.6900958466454,
 'ford': 4097.900647125999,
 'hyundai': 5782.153652392947,
 'mazda': 4594.270085470085,
 'mercedes_benz': 9158.69917012448,
 'mini': 10773.354497354498,
 'mitsubishi': 3530.146031746032,
 'nissan': 5209.66095890411,
 'opel': 3282.6915052160953,
 'peugeot': 3378.1932921447483,
 'renault': 2738.608395629672,
 'seat': 4825.070054945055,
 'skoda': 6759.576978417266,
 'smart': 3881.6041666666665,
 'toyota': 5407.854330708661,
 'volkswagen': 5950.0902394106815,
 'volvo': 5326.455525606469}

Previously we saw that Volkswagen, BMW, Opel, Mercedes Benz and Audi made up the top 5 number of ad-listings by volume. 

The average price by brand gives us some insight into the German car market. 

French and Italian cars such as Peugeot, Renault, Fiat & Citroen are generally at the more affordable end of the spectrum while German brands tend to be at the higher end of the price range. 

Sandwiched in the middle are the Japanese and Korean brands with some of the other minor European brands.

In [46]:
avg_mileage_by_brand = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos[cleaned_autos["brand"] == brands]
    mean = selected_rows["odometer_km"].mean()
    avg_mileage_by_brand[brands] = mean

In [47]:
avg_mileage_by_brand

{'audi': 128011.76141136937,
 'bmw': 132164.11281367976,
 'citroen': 117957.0895522388,
 'fiat': 115969.11608093716,
 'ford': 123587.74267224972,
 'hyundai': 103438.28715365239,
 'mazda': 123504.2735042735,
 'mercedes_benz': 130282.67634854771,
 'mini': 88095.23809523809,
 'mitsubishi': 125746.03174603175,
 'nissan': 116515.4109589041,
 'opel': 128669.8956780924,
 'peugeot': 125701.67696381289,
 'renault': 127032.77745830937,
 'seat': 120151.0989010989,
 'skoda': 109510.79136690647,
 'smart': 97333.33333333333,
 'toyota': 115187.00787401575,
 'volkswagen': 127653.7753222836,
 'volvo': 138450.13477088948}

In [48]:
bmp_series = pd.Series(avg_price_by_brand)
print(bmp_series)

audi              9958.290955
bmw               8846.654453
citroen           4038.001866
fiat              3057.690096
ford              4097.900647
hyundai           5782.153652
mazda             4594.270085
mercedes_benz     9158.699170
mini             10773.354497
mitsubishi        3530.146032
nissan            5209.660959
opel              3282.691505
peugeot           3378.193292
renault           2738.608396
seat              4825.070055
skoda             6759.576978
smart             3881.604167
toyota            5407.854331
volkswagen        5950.090239
volvo             5326.455526
dtype: float64

In [49]:
df = pd.DataFrame(bmp_series, columns=['mean_price'])
df

                 mean_price
audi            9958.290955
bmw             8846.654453
citroen         4038.001866
fiat            3057.690096
ford            4097.900647
hyundai         5782.153652
mazda           4594.270085
mercedes_benz   9158.699170
mini           10773.354497
mitsubishi      3530.146032
nissan          5209.660959
opel            3282.691505
peugeot         3378.193292
renault         2738.608396
seat            4825.070055
skoda           6759.576978
smart           3881.604167
toyota          5407.854331
volkswagen      5950.090239
volvo           5326.455526

In [50]:
bmm_series = pd.Series(avg_mileage_by_brand)
print(bmm_series)

audi             128011.761411
bmw              132164.112814
citroen          117957.089552
fiat             115969.116081
ford             123587.742672
hyundai          103438.287154
mazda            123504.273504
mercedes_benz    130282.676349
mini              88095.238095
mitsubishi       125746.031746
nissan           116515.410959
opel             128669.895678
peugeot          125701.676964
renault          127032.777458
seat             120151.098901
skoda            109510.791367
smart             97333.333333
toyota           115187.007874
volkswagen       127653.775322
volvo            138450.134771
dtype: float64

In [51]:
df["mean_mileage"] = bmm_series
df

                 mean_price   mean_mileage
audi            9958.290955  128011.761411
bmw             8846.654453  132164.112814
citroen         4038.001866  117957.089552
fiat            3057.690096  115969.116081
ford            4097.900647  123587.742672
hyundai         5782.153652  103438.287154
mazda           4594.270085  123504.273504
mercedes_benz   9158.699170  130282.676349
mini           10773.354497   88095.238095
mitsubishi      3530.146032  125746.031746
nissan          5209.660959  116515.410959
opel            3282.691505  128669.895678
peugeot         3378.193292  125701.676964
renault         2738.608396  127032.777458
seat            4825.070055  120151.098901
skoda           6759.576978  109510.791367
smart           3881.604167   97333.333333
toyota          5407.854331  115187.007874
volkswagen      5950.090239  127653.775322
volvo           5326.455526  138450.134771

Comparing the average price and average mileage, we can see that for cars in a similar group, the higher the average mileage, the lower the average price. Take for example the French car makers Renault, Citroen and Peugeot. These three car makers are competitive in retail price points and car models. In fact, Citroen and Peugeot are basically identical as they share platforms and are the one company. Comparing the average mileage for Citroen and Peugeot, we see that the lower the mileage, the higher the average price. 

The same can be said for the big 3 German luxury car makers, BMW, Audi and Mercedes-Benz too as well as grouping the Japanese and Korean brands together. We could make a reasonable assumption that mileage has a negative relationship with price.

### Most Popular Models by Brand

To find out which is the most listed model by brand we will use a similar technique to the previous analysis.

In [90]:
most_listed_model_by_brand = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos["brand"] == brands #for each unique brand
    sorted_rows = cleaned_autos[selected_rows] #use this as a filter
    d_rows = sorted_rows["model"].value_counts() # find the value counts of each model
    most_listed_model_by_brand[brands] = d_rows.index[0] # return the most popular model from the value counts

In [89]:
most_listed_model_by_brand

{'audi': 'a4',
 'bmw': '3er',
 'citroen': 'andere',
 'fiat': 'punto',
 'ford': 'focus',
 'hyundai': 'i_reihe',
 'mazda': '6_reihe',
 'mercedes_benz': 'c_klasse',
 'mini': 'cooper',
 'mitsubishi': 'colt',
 'nissan': 'micra',
 'opel': 'corsa',
 'peugeot': '2_reihe',
 'renault': 'twingo',
 'seat': 'ibiza',
 'skoda': 'octavia',
 'smart': 'fortwo',
 'toyota': 'yaris',
 'volkswagen': 'golf',
 'volvo': 'v70'}

In [73]:
'''
Code for the above loop to return the top value counts for each model by brand.
'''

#b_bool = cleaned_autos["brand"] == "bmw"
#c_bool = cleaned_autos[b_bool]
#d_bool = c_bool["model"].value_counts()
#d_bool

3er        2363
5er        1050
1er         490
x_reihe     277
7er         116
z_reihe     112
m_reihe      39
andere       29
6er          27
Name: model, dtype: int64

In [91]:
pop_model_series = pd.Series(most_listed_model_by_brand)
print(pop_model_series)

audi                   a4
bmw                   3er
citroen            andere
fiat                punto
ford                focus
hyundai           i_reihe
mazda             6_reihe
mercedes_benz    c_klasse
mini               cooper
mitsubishi           colt
nissan              micra
opel                corsa
peugeot           2_reihe
renault            twingo
seat                ibiza
skoda             octavia
smart              fortwo
toyota              yaris
volkswagen           golf
volvo                 v70
dtype: object

In [93]:
df1 = pd.DataFrame(pop_model_series, columns=['top_model'])
df1

              top_model
audi                 a4
bmw                 3er
citroen          andere
fiat              punto
ford              focus
hyundai         i_reihe
mazda           6_reihe
mercedes_benz  c_klasse
mini             cooper
mitsubishi         colt
nissan            micra
opel              corsa
peugeot         2_reihe
renault          twingo
seat              ibiza
skoda           octavia
smart            fortwo
toyota            yaris
volkswagen         golf
volvo               v70

In [97]:
most_listed_model_by_brand_no = {} #Number of listings for the most popular model

for brands in filtered_brands:
    selected_rows = cleaned_autos["brand"] == brands #for each unique brand
    sorted_rows = cleaned_autos[selected_rows] #use this as a filter
    d_rows = sorted_rows["model"].value_counts() # find the value counts of each model
    most_listed_model_by_brand_no[brands] = d_rows[0] # return the number of listings for the most popular model from the value counts

In [98]:
most_listed_model_by_brand_no

{'audi': 1128,
 'bmw': 2363,
 'citroen': 179,
 'fiat': 331,
 'ford': 659,
 'hyundai': 166,
 'mazda': 144,
 'mercedes_benz': 1033,
 'mini': 251,
 'mitsubishi': 98,
 'nissan': 194,
 'opel': 1292,
 'peugeot': 540,
 'renault': 470,
 'seat': 294,
 'skoda': 286,
 'smart': 410,
 'toyota': 113,
 'volkswagen': 3176,
 'volvo': 81}

In [99]:
pop_model_series_no = pd.Series(most_listed_model_by_brand_no)
print(pop_model_series_no)

audi             1128
bmw              2363
citroen           179
fiat              331
ford              659
hyundai           166
mazda             144
mercedes_benz    1033
mini              251
mitsubishi         98
nissan            194
opel             1292
peugeot           540
renault           470
seat              294
skoda             286
smart             410
toyota            113
volkswagen       3176
volvo              81
dtype: int64

In [100]:
df1["no_of_listings"] = pop_model_series_no
df1

              top_model  no_of_listings
audi                 a4            1128
bmw                 3er            2363
citroen          andere             179
fiat              punto             331
ford              focus             659
hyundai         i_reihe             166
mazda           6_reihe             144
mercedes_benz  c_klasse            1033
mini             cooper             251
mitsubishi         colt              98
nissan            micra             194
opel              corsa            1292
peugeot         2_reihe             540
renault          twingo             470
seat              ibiza             294
skoda           octavia             286
smart            fortwo             410
toyota            yaris             113
volkswagen         golf            3176
volvo               v70              81

From the above, the Volkswagen Golf is the most listed model from the sample data. With the exception of the Volvo V70, the most listed cars from each brand are generally small to medium cars.

### Price Difference for Damaged Cars

In [127]:
avg_damaged_by_brand_ja = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos[cleaned_autos["brand"] == brands]
    damage_filter = selected_rows[selected_rows["unrepaired_damage"] == "ja"]
    mean = damage_filter["price"].mean()
    avg_damaged_by_brand_ja[brands] = mean

In [136]:
avg_damaged_by_brand_ja

{'audi': 3398.9103448275864,
 'bmw': 3823.460641399417,
 'citroen': 1887.3035714285713,
 'fiat': 1259.58,
 'ford': 1574.2539682539682,
 'hyundai': 2836.860465116279,
 'mazda': 1414.0144927536232,
 'mercedes_benz': 4378.076923076923,
 'mini': 4749.090909090909,
 'mitsubishi': 1485.953488372093,
 'nissan': 2066.9875,
 'opel': 1535.2227272727273,
 'peugeot': 1476.8731343283582,
 'renault': 1261.066037735849,
 'seat': 1930.7142857142858,
 'skoda': 3839.5737704918033,
 'smart': 1558.7692307692307,
 'toyota': 3721.9333333333334,
 'volkswagen': 2376.1651234567903,
 'volvo': 1893.15}

In [137]:
damaged_cars_series = pd.Series(avg_damaged_by_brand_ja)
print(damaged_cars_series)

audi             3398.910345
bmw              3823.460641
citroen          1887.303571
fiat             1259.580000
ford             1574.253968
hyundai          2836.860465
mazda            1414.014493
mercedes_benz    4378.076923
mini             4749.090909
mitsubishi       1485.953488
nissan           2066.987500
opel             1535.222727
peugeot          1476.873134
renault          1261.066038
seat             1930.714286
skoda            3839.573770
smart            1558.769231
toyota           3721.933333
volkswagen       2376.165123
volvo            1893.150000
dtype: float64

In [138]:
df2 = pd.DataFrame(damaged_cars_series, columns=['damaged_cars'])
df2

               damaged_cars
audi            3398.910345
bmw             3823.460641
citroen         1887.303571
fiat            1259.580000
ford            1574.253968
hyundai         2836.860465
mazda           1414.014493
mercedes_benz   4378.076923
mini            4749.090909
mitsubishi      1485.953488
nissan          2066.987500
opel            1535.222727
peugeot         1476.873134
renault         1261.066038
seat            1930.714286
skoda           3839.573770
smart           1558.769231
toyota          3721.933333
volkswagen      2376.165123
volvo           1893.150000

In [129]:
avg_damaged_by_brand_nein = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos[cleaned_autos["brand"] == brands]
    damage_filter = selected_rows[selected_rows["unrepaired_damage"] == "nein"]
    mean = damage_filter["price"].mean()
    avg_damaged_by_brand_nein[brands] = mean

In [139]:
avg_damaged_by_brand_nein

{'audi': 11228.818658280923,
 'bmw': 9695.068355119825,
 'citroen': 4424.62945368171,
 'fiat': 3548.212250712251,
 'ford': 4856.3175572519085,
 'hyundai': 6297.921875,
 'mazda': 5394.134831460674,
 'mercedes_benz': 10008.875866414619,
 'mini': 11141.760683760684,
 'mitsubishi': 4197.515021459228,
 'nissan': 6027.091517857143,
 'opel': 3787.832114361702,
 'peugeot': 3847.3859447004606,
 'renault': 3216.0781860828774,
 'seat': 5399.3694158075605,
 'skoda': 7266.2626086956525,
 'smart': 4068.8693467336684,
 'toyota': 5628.972911963882,
 'volkswagen': 6743.192043681747,
 'volvo': 6020.924092409241}

In [140]:
undamaged_cars_series = pd.Series(avg_damaged_by_brand_nein)
print(undamaged_cars_series)

audi             11228.818658
bmw               9695.068355
citroen           4424.629454
fiat              3548.212251
ford              4856.317557
hyundai           6297.921875
mazda             5394.134831
mercedes_benz    10008.875866
mini             11141.760684
mitsubishi        4197.515021
nissan            6027.091518
opel              3787.832114
peugeot           3847.385945
renault           3216.078186
seat              5399.369416
skoda             7266.262609
smart             4068.869347
toyota            5628.972912
volkswagen        6743.192044
volvo             6020.924092
dtype: float64

In [141]:
df2["undamaged_cars"] = undamaged_cars_series
df2

               damaged_cars  undamaged_cars
audi            3398.910345    11228.818658
bmw             3823.460641     9695.068355
citroen         1887.303571     4424.629454
fiat            1259.580000     3548.212251
ford            1574.253968     4856.317557
hyundai         2836.860465     6297.921875
mazda           1414.014493     5394.134831
mercedes_benz   4378.076923    10008.875866
mini            4749.090909    11141.760684
mitsubishi      1485.953488     4197.515021
nissan          2066.987500     6027.091518
opel            1535.222727     3787.832114
peugeot         1476.873134     3847.385945
renault         1261.066038     3216.078186
seat            1930.714286     5399.369416
skoda           3839.573770     7266.262609
smart           1558.769231     4068.869347
toyota          3721.933333     5628.972912
volkswagen      2376.165123     6743.192044
volvo           1893.150000     6020.924092

In [134]:
avg_damaged_by_brand_na = {}

for brands in filtered_brands:
    selected_rows = cleaned_autos[cleaned_autos["brand"] == brands]
    damage_filter = selected_rows[selected_rows["unrepaired_damage"] == "N/A"]
    mean = damage_filter["price"].mean()
    avg_damaged_by_brand_na[brands] = mean

In [135]:
avg_damaged_by_brand_na

{'audi': 5819.7947494033415,
 'bmw': 5993.334016393443,
 'citroen': 3320.5254237288136,
 'fiat': 1856.7007299270074,
 'ford': 2094.037463976945,
 'hyundai': 4652.794117647059,
 'mazda': 2671.7042253521126,
 'mercedes_benz': 5751.973105134474,
 'mini': 6833.125,
 'mitsubishi': 1796.8974358974358,
 'nissan': 3159.75,
 'opel': 1984.1159169550174,
 'peugeot': 2214.206106870229,
 'renault': 1539.233870967742,
 'seat': 3093.0,
 'skoda': 4840.525423728814,
 'smart': 3629.1428571428573,
 'toyota': 4054.2,
 'volkswagen': 3403.743330266789,
 'volvo': 2716.035714285714}

In [142]:
unknown_damaged_cars_series = pd.Series(avg_damaged_by_brand_na)
print(unknown_damaged_cars_series)

audi             5819.794749
bmw              5993.334016
citroen          3320.525424
fiat             1856.700730
ford             2094.037464
hyundai          4652.794118
mazda            2671.704225
mercedes_benz    5751.973105
mini             6833.125000
mitsubishi       1796.897436
nissan           3159.750000
opel             1984.115917
peugeot          2214.206107
renault          1539.233871
seat             3093.000000
skoda            4840.525424
smart            3629.142857
toyota           4054.200000
volkswagen       3403.743330
volvo            2716.035714
dtype: float64

In [143]:
df2["unknown_damage"] = unknown_damaged_cars_series
df2

               damaged_cars  undamaged_cars  unknown_damage
audi            3398.910345    11228.818658     5819.794749
bmw             3823.460641     9695.068355     5993.334016
citroen         1887.303571     4424.629454     3320.525424
fiat            1259.580000     3548.212251     1856.700730
ford            1574.253968     4856.317557     2094.037464
hyundai         2836.860465     6297.921875     4652.794118
mazda           1414.014493     5394.134831     2671.704225
mercedes_benz   4378.076923    10008.875866     5751.973105
mini            4749.090909    11141.760684     6833.125000
mitsubishi      1485.953488     4197.515021     1796.897436
nissan          2066.987500     6027.091518     3159.750000
opel            1535.222727     3787.832114     1984.115917
peugeot         1476.873134     3847.385945     2214.206107
renault         1261.066038     3216.078186     1539.233871
seat            1930.714286     5399.369416     3093.000000
skoda           3839.573770     7266.262609     4840.525424
smart           1558.769231     4068.869347     3629.142857
toyota          3721.933333     5628.972912     4054.200000
volkswagen      2376.165123     6743.192044     3403.743330
volvo           1893.150000     6020.924092     2716.035714

We can see from the above that cars which are undamaged command a significant premium over damaged cars. What is interesting is that listings which do not specify if the car is damaged or not have prices that lie in between the two values. That would suggest that if your car is undamaged, you could be losing money by leaving this attribute undefined. 

Another interesting observation is the price difference between damaged cars for some manufacturers. Take Audi for example. The price difference between a damaged and undamaged car on average is almost $8,000. Whereas Toyota has the smallest gap between damaged and undamaged cars. This may suggest that Audis are quite expensive to fix or have common major issues with them that are costly to repair. Toyotas on the other hand may be more reliable and could potentially be cheaper to repair.